

html *
{
   /*font-size: 1em !important;
   color: #000 !important;*/
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}
body{
    background-color:#404041;
    overflow:hidden;
    height:1000px;
}
.top-bar{
    text-align:left;
    height:40px;
    //margin:-10px;
    padding-top:10px;
    padding-left:20px;
    background-color:#FD4249;
    font-weight:normal;
    font-size:18px;
    color:white;
}

.top-bar-center{
    text-align:center;
    padding-left:0px;
}
.telemetry{
    position:absolute;
    top:0px;
    right:0px;
    height:40px;
    width:200px;
    //background-color:green;
    font-size:15px;
}

.alt{
    position:absolute;
    top:5px;
    padding-top:8px;
    padding-left:5px;
    right:240px;
    height:32px;
    width:100px;
    border-radius:4px;
    background-color:#444;
}
.sat{
    position:absolute;
    top:5px;
    padding-left:5px;
    padding-top:8px;
    right:170px;
    height:32px;
    width:60px;
    border-radius:4px;
    background-color:#444;
}
.battery{
    position:absolute;
    top:5px;
    //left:0px;
    right:125px;
    height:40px;
    width:35px;
}
.battery-window{
    position:absolute;
    top:45px;
    right:120px;
    height:80px;
    width:120px;
    background-color:black;
    border-radius:10px;
    padding:10px;
    color:#aaa;
    display:none;
    font-size:12px;
    z-index:10000;
}
#voltage, #current, #remaining{
    width:100%;
    font-weight:400;
}
.attitude{
    position:absolute;
    top:5px;
    //left:35px;
    right:85px;
    height:40px;
    width:35px;
}
.attitude-window{
    position:absolute;
    top:45px;
    right:90px;
    height:210px;
    width:105px;
    background-color:black;
    border-radius:10px;
    padding:5px;
    color:#aaa;
    display:none;
    z-index:10000;
}
.gps{
    position:absolute;
    top:5px;
    //left:70px;
    right:45px;
    height:40px;
    width:35px;
}
.gps-window{
    position:absolute;
    top:45px;
    right:50px;
    height:60px;
    width:120px;
    background-color:black;
    border-radius:10px;
    padding:10px;
    color:#aaa;
    display:none;
    font-size:12px;
    z-index:10000;
}
#hdop, #satellites{
    width:100%;
    font-weight:400;
}
.connection-status{
    position:absolute;
    top:5px;
    //left:105px;
    right:5px;
    height:40px;
    width:35px;
}
.connection-window{
    position:absolute;
    top:45px;
    right:20px;
    height:30px;
    width:100px;
    background-color:black;
    border-radius:10px;
    padding:10px;
    color:#aaa;
    display:none;
    font-size:12px;
    z-index:10000;
}
#connection{
    width:100%;
    font-weight:400;
}
.login-body{
    position:absolute;
    top:100px;
    width:200px;
    height:300px;
    float:middle;
    color:white;
    text-align:center;
}
.login-url{
    //width:100%;
    height:35px;
    border-radius:4px;
    margin:7px 7px 35px 7px;
    color:black;
	text-align: center;
}
.login-text{
   // width:90%;
    height:35px;
    border-radius:4px;
    margin:7px 7px 7px 7px;
    color:black;
	text-align: center;
}
.login-border{
    border: 1px solid #fff;
    border-radius:10px;
    text-align:center;
}
.connect{
    margin-top: 20px;
    margin-left:10px;
}
.toast{
    position: absolute;
    right:25%;
    bottom: 50px;
    height: 30px;
    width: 50%;
    background: black;
    opacity: 0.8;
    display:none;
    color:white;
    text-align:center;
    border-radius:6px;
    padding-top:5px;
}



.needle2{
    position:absolute;
    top:25px;
    margin-left:28px;
}
.hud-values{
    margin-left:10px;
    /*background-color:white;*/
    width:40px;
    border-radius:4px;
    text-align:center;
    color:white;
    font-weight:600;
}
.hud-labels{
    color:#aaa;
    width:150px;
    font-weight: 400;
    font-size:12px;
}
.hud-units{
    color:white;
    width:3px;
    font-weight: 400;
    margin-left:5px;
}

.hud-data{
    position:absolute;
    background:black;
    opacity:0.9;
    right:2px;
    width:100px;
    height:100px;
    top:101px;
    overflow:hidden;
    padding-left:10px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.hud-house{
    position:absolute;
    /*background:black;*/
    opacity:0.9;
    right:2px;
    width:100px;
    height:100px;
    top:2px;
    overflow:hidden;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.rotate{
    position: absolute;
    top:1px;

    padding-left:6px;
    overflow:hidden;
    height:100px;
    width:100px;
/*
    -ms-transform: rotate(20deg); /* IE 9 */
    /*-webkit-transform: rotate(20deg); /* Safari */*/
    /*transform: rotate(20deg);*/*/
}
.needle{
    position:absolute;
    top:22px;
    left:45px;
}
.scale{
    position:absolute;
    top:16px;
    left:18px;
}
.land{
    position:absolute;
    background:#87E645;
    width:87px;
    height:100px;
    top:50px;
}
.sky{
    position:absolute;
    background:#3E7DEB;
    width:100px;
    height:100px;
    top:5px;
}
.odegree{
    position:absolute;
    top:10px;
    padding-left: 12px;
}
.hud-moon{
    /*opacity:0.8;*/
    position:absolute;
    top:1px;
}
.logout{
    font-weight:400;
    position:absolute;
    right:5px;
    bottom:5px;
    border-radius:4px ,4px, 4px, 4px;
}
.joystick-zone1 , .joystick-zone2{
    position:absolute;
    height:200px;
    width:200px;
    top:100px;
    left:100px;
    background-color:#ccc;
    border-radius:100px;
}
.joystick1, .joystick2{
    position:absolute;
    height:50px;
    width:50px;
    border-radius:25px;
    background-color:#999;
    left:75px;
    top:75px;
}
.app-body{
    //position:absolute;
    //top:100px;
    width:100%;
    height:100%;
    float:middle;
    color:white;
    text-align:center;
}

.takeoff-button, .land-button{
    position:absolute;
    border-radius:5px;
    border:none;
    text-align:center;
    background-color:#ee3c39;
    width:100px;
    bottom:5px;
    height:30px;
}
.takeoff-button{
    left:93px;
}
.land-button{
    right:5px;
}

#height-data{
    position:absolute;
    border-radius:5px;
    border:1px red solid;
    bottom:5px;
    left:45px;
    height:30px;
    text-align:center;
    width:40px;
    color:black;
}
.direction-symbol{
    font-size:22px;
    color:#555;
    text-align:center;
    position:absolute;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}
.up-symbol{
    top:25px;
    left:89px;
}
.down-symbol{
    bottom:25px;
    left:89px;
}
.left-symbol{
    top:85px;
    left:25px;
}
.right-symbol{
    top:85px;
    right:25px;
}
.help-window{
    position:absolute;
    opacity:0.9;
    background-color:black;
    height:100%;
    width:100%;
}
#joy-help-image{
    position:absolute;
}

.help-window-button{
	position:absolute;

    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    top:45%;
    text-align:center;
    color:white;
    background-color:#222;
    width:100px;
    border-radius:10px;
    right:-35px;
    font-size:20px;
    height:35px;
}
.joystick-labels{
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}