

html *
{
   /*font-size: 1em !important;
   color: #000 !important;*/
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}
body{
    background-color:#404041;
    overflow:hidden;
}
.top-bar{
    text-align:left;
    height:40px;
    //margin:-10px;
    padding-top:10px;
    padding-left:20px;
    background-color:#FD4249;
    font-weight:normal;
    font-size:20px;
    color:white;
}

.top-bar-center{
    text-align:center;
    padding-left:0px;
}
.telemetry{
    position:absolute;
    top:0px;
    right:0px;
    height:40px;
    width:200px;
    //background-color:green;
    font-size:15px;
}

.alt{
    position:absolute;
    top:5px;
    padding-top:8px;
    padding-left:5px;
    right:240px;
    height:32px;
    width:100px;
    border-radius:4px;
    background-color:#444;
}
.sat{
    position:absolute;
    top:5px;
    padding-left:5px;
    padding-top:8px;
    right:170px;
    height:32px;
    width:60px;
    border-radius:4px;
    background-color:#444;
}
.battery{
    position:absolute;
    top:5px;
    //left:0px;
    right:125px;
    height:40px;
    width:35px;
}
.battery-window{
    position:absolute;
    top:45px;
    right:120px;
    height:80px;
    width:120px;
    background-color:black;
    border-radius:10px;
    padding:10px;
    color:#aaa;
    display:none;
    font-size:12px;
    z-index:10000;
}
#voltage, #current, #remaining{
    width:100%;
    font-weight:400;
}
.attitude{
    position:absolute;
    top:5px;
    //left:35px;
    right:85px;
    height:40px;
    width:35px;
}
.attitude-window{
    position:absolute;
    top:45px;
    right:90px;
    height:210px;
    width:105px;
    background-color:black;
    border-radius:10px;
    padding:5px;
    color:#aaa;
    display:none;
    z-index:10000;
}
.gps{
    position:absolute;
    top:5px;
    //left:70px;
    right:45px;
    height:40px;
    width:35px;
}
.gps-window{
    position:absolute;
    top:45px;
    right:50px;
    height:60px;
    width:120px;
    background-color:black;
    border-radius:10px;
    padding:10px;
    color:#aaa;
    display:none;
    font-size:12px;
    z-index:10000;
}
#hdop, #satellites{
    width:100%;
    font-weight:400;
}
.connection-status{
    position:absolute;
    top:5px;
    //left:105px;
    right:5px;
    height:40px;
    width:35px;
}
.connection-window{
    position:absolute;
    top:45px;
    right:20px;
    height:30px;
    width:100px;
    background-color:black;
    border-radius:10px;
    padding:10px;
    color:#aaa;
    display:none;
    font-size:12px;
    z-index:10000;
}
#connection{
    width:100%;
    font-weight:400;
}
.login-body{
    position:absolute;
    top:100px;
    width:200px;
    height:300px;
    float:middle;
    color:white;
    text-align:center;
}
.login-url{
    //width:100%;
    height:35px;
    border-radius:4px;
    margin:7px 7px 35px 7px;
    color:black;
	text-align: center;
}
.login-text{
   // width:90%;
    height:35px;
    border-radius:4px;
    margin:7px 7px 7px 7px;
    color:black;
	text-align: center;
}
.login-border{
    border: 1px solid #fff;
    border-radius:10px;
    text-align:center;
}
.connect{
    margin-top: 20px;
    margin-left:10px;
}
.toast{
    position: absolute;
    right:25%;
    bottom: 70px;
    height: 30px;
    width: 50%;
    background-color: black;
    opacity: 0.9;
    display:none;
    color:white;
    text-align:center;
    border-radius:6px;
    padding:5px;
}



.needle2{
    position:absolute;
    top:25px;
    margin-left:28px;
}
.hud-values{
    margin-left:10px;
    /*background-color:white;*/
    width:40px;
    border-radius:4px;
    text-align:center;
    color:white;
    font-weight:600;
}
.hud-labels{
    color:#aaa;
    width:150px;
    font-weight: 400;
    font-size:12px;
}
.hud-units{
    color:white;
    width:3px;
    font-weight: 400;
    margin-left:5px;
}

.hud-data{
    position:absolute;
    background:black;
    opacity:0.9;
    right:2px;
    width:100px;
    height:100px;
    top:101px;
    overflow:hidden;
    padding-left:10px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.hud-house{
    position:absolute;
    /*background:black;*/
    opacity:0.9;
    right:2px;
    width:100px;
    height:100px;
    top:2px;
    overflow:hidden;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.rotate{
    position: absolute;
    top:1px;

    padding-left:6px;
    overflow:hidden;
    height:100px;
    width:100px;
/*
    -ms-transform: rotate(20deg); /* IE 9 */
    /*-webkit-transform: rotate(20deg); /* Safari */*/
    /*transform: rotate(20deg);*/*/
}
.needle{
    position:absolute;
    top:22px;
    left:45px;
}
.scale{
    position:absolute;
    top:16px;
    left:18px;
}

.land{
    position:absolute;
    background:#87E645;
    width:87px;
    height:100px;
    top:50px;
}
.sky{
    position:absolute;
    background:#3E7DEB;
    width:100px;
    height:100px;
    top:5px;
}
.odegree{
    position:absolute;
    top:10px;
    padding-left: 12px;
}
.hud-moon{
    /*opacity:0.8;*/
    position:absolute;
    top:1px;
}
.logout{
    font-weight:400;
    position:absolute;
    right:5px;
    bottom:5px;
    border-radius:4px ,4px, 4px, 4px;
}
.joystick-zone1 , .joystick-zone2{
    position:absolute;
    height:200px;
    width:200px;
    top:100px;
    left:100px;
    background-color:#222;
    border-radius:100px;
}
/*
.joystick-button-zone{
    position:absolute;
    height:200px;
    width:200px;
    top:100px;
    left:100px;
    background-color:#222;
    border-radius:100px;
}
.up,.down,.tright,.tleft{
    position:absolute;
    height:37px;
    width:50px;
    background-color:#FD4249;
    border:none;
}
.up{
    top:32px;
    left:75px;
}
.tleft{
    top:84px;
    left:12px;
}
.tright{
    top:84px;
    left:138px;
}
.down{
    top:136px;
    left:75px;
}*/
.joystick1, .joystick2{
    position:absolute;
    height:50px;
    width:50px;
    border-radius:25px;
    background-color:#999;
    left:75px;
    top:75px;
}
.app-body{
    //position:absolute;
    //top:100px;
    width:100%;
    height:100%;
    float:middle;
    color:white;
    text-align:center;
}
.takeoff-land-window-button{
    position:absolute;
    border-radius:10px 10px 0 0;
    bottom:0;
    width:200px;
    background-color:#222;
    color:white;
    height:30px;
    text-align:center;
    font-size:25px
}
.takeoff-land-window{
    position:absolute;
    background-color:black;
    opacity:0.7;
    left:40px;
    top:80px;
    border-radius:10px;
    display:none;

}
.takeoff-window-button, .land-button{
    border-radius:5px;
    font-size:20px;
    text-align:center;
    background-color:#ee3c39;
    width:100%;
}
.takeoff-window-button{
    position:absolute;
    top:0px;
    width:90%;
}
.land-button{
    position:absolute;
    bottom:0px;
    width:90%
}
.container{
    position:absolute;
    height:100px;
    width:310px;
}
.takeoff-label{
    top:25px;
    position:absolute;
    left:20px;
    color:white;
    font-weight:lighter;
}
.decrease-button{
    position:absolute;
    background-color:#222;
    left:120px;
    color:white;
    font-size:25px;
    height:32px;
    padding:0px 0px 15px 10px;
    width:25px;

}
#height-data{
    position:absolute;
    left:145px;
    height:30px;
    text-align:center;
    width:30px;
}
.increase-button{
    position:absolute;
    background-color:#222;
    left:175px;
    color:white;
    width:25px;
    font-size:25px;
    height:32px;
    padding:0 5px 15px 5px;
}
.takeoff-button{
    position:absolute;
    left:210px;
    width:50px;
}
.back-window{
    position:absolute;
    width:100%;
    height:100%;
}
.height-window{
    position:absolute;
    background-color:#333;
    top:50px;
    border-radius:10px;
    height:70px;
    width:280px;
    display:none;
}
.direction-symbol{
    font-size:22px;
    color:#555;
    text-align:center;
    position:absolute;
}
.up-symbol{
    top:25px;
    left:89px;
}
.down-symbol{
    bottom:25px;
    left:89px;
}
.left-symbol{
    top:85px;
    left:25px;
}
.right-symbol{
    top:85px;
    right:25px;
}
.help-window{
    position:absolute;
    opacity:0.9;
    background-color:black;
    height:100%;
    width:100%;
}
#joy-help-image{
    position:absolute;
}

.help-window-button{
	position:absolute;

    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    top:45%;
    text-align:center;
    color:white;
    background-color:#222;
    width:100px;
    border-radius:10px;
    right:-35px;
    font-size:20px;
    height:35px;
}
#map {
     //height: 100%;
    //margin-top:32px;
    //margin-top:32px;
    //left: 150px;
    height: 97%;
        position: absolute;
        //z-index:1000;
    width:100%;
}
#msg{
position: absolute;
     top:50%;
    left:10%;
    width:80%;
    height:10%;
//background: white;
}
h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
.follow-box{
    position:absolute;
    height:60px;
    width:150px;
    background-color:black;
    border:1px solid #ee3c39;
    border-radius:10px;
    bottom:5px;
    left:5px;
    padding-top:25px;
    padding-left:32px;
}
.tak-land-box{
    position:absolute;
    height:50px;
    width:225px;
    background-color:black;
    border:1px solid #ee3c39;
    border-radius:10px;
    top:45px;
    left:5px;
    padding:12px;
}
.locate, .nudge{
    position:absolute;
    font-size:20px;
    top:45px;
    left:5px;
    height:35px;
    width:35px;
    border:none;
    border-radius:4px;
    background-color:#ee3c39;
    color:black;
}
.nudge-box{
    background-color:white;
    opacity:0.9;
    width:200px;
    height:210px;
    position:absolute;
    border:2px red solid;
    border-radius:10px;
    padding:10px;
    padding-top:20px;
    top:100px;
    display:none;
}
/*
.tutorial-window{
    position:absolute;
    height:100%;
    width:100%;
    opacity:0.7;
    background-color:black;
}
label .tutorial{
    position:absolute;
    font-weight:200;
    font-size:30px;
    color:#aaa;
}*/